body{
	background:  #36373A;
}

aside{
	float: left;
	background: #1C1C1C;
	height: 100vh;
	width: 20%;
	padding: 2.5%;
	color: #fff;
	border-right: 5px solid #474A51;

}
aside img{
	width: 80px;
	float: left;
}
aside .logo{
 font-size: 25px;
 margin-left: 10px;
 font-weight: bold;
 position: relative;
 top: +6px;
}
aside h3{
	margin-top: 70px;
	margin-left:40px;
}
aside ul{list-style: none}

aside ul li{
	color: #fff;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 28px;
	transition: transform 0.1s ease;
}
aside ul li:hover, aside ul a:hover {
	color: #48A0DC;
	text-decoration: none;
	transform:scale(1.05);

}

main .features{
	float: left;
	color: #fff;
	margin-top: 100px;
	text-align: center;
	width: 80%;

}

main .features h1{font-size: 50px}
main .features p{
	max-width: 400px;
	margin: 20px auto;
}
main .features a{
	margin: 30px 5px 30px 5px;
}
main .features textarea{
	width: 50%;
	height: 300px;
	margin-left: 25%;
	resize: none;
}

main .news_block{
	margin-left: 36.8%;
}


.alert-warning{
	float: left;
	clear: both;
	width: 400px;
	margin: 20px 35%;
	text-align: left;
	
}

form {
	margin-left: 33%;
	width: 500px;
	margin-top: 50px;

}